* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    font-family: "Share Tech", sans-serif;
    background: #8d77a8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background: #1b0e20;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    height: 70vh;
}

div h1 {
    margin-bottom: 1em;
}

input[type="text"] {
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-right: 1rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #d1c0ec;
    color: #fff;
}

button {
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: none;
    background: #d1c0ec;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #8d77a8;
}

